@import url(https://fonts.googleapis.com/css?family=Arvo|Droid+Sans);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************** End of reset ***************************/

body {
  font-size: 17px;
  background-color: #e5904e; /* TMH Orange */
}

header {
  position: fixed;
  display: block;
  top: 0px;
  background-color: black;
  height: 50px;
  width: 100%;
	z-index: 10;
}

header #main-page {
  font-size: 3em;
  color: white;
	font-family: "Arvo", sans-serif;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: white;
}

#page {
  width: 65%;
  height: auto;
  display: block;
  margin: 50px auto;
  background-color: white;
  padding: 1em;
}

#page .text {
  display: block;

}

#page p {
  padding-left: 5em;
  padding-right: 5em;
  line-height: 1.45;
  margin-bottom: 1.45em;
	font-family: "Droid Sans";
}

.byline {
	font-family: "Arvo";
}

#page .text #story-top {
  text-align: center;
  margin-bottom: 2em;
}

div#page div.text h2.section {
	margin-left: 3.25em;
	margin-bottom: 0;
}

/*div#page div.text h2.author {
	font-size: 0.85em;
	padding: 0;
	line-height: 0;
}*/

div#page div.text span.author {
	font-size: 1em;
	font-weight: normal;
	margin-left: 4.9em;
	margin-bottom: 1em;
	display: block;
	font-family: "Droid Sans", sans-serif;
}

#headline {
  font-size: 3.5em;
  margin-top: 0.5em;
}

h2 {
	font-family: "Arvo";
}

.text h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.interactive {
  margin-top: 2em;
	margin-bottom: 2em;
  display: block;
  width: 100%;
	overflow: visible;
	position: relative;
}

iframe {
	width: 100%;
	height: 500px;
}

.hours_data {
	border: 1px solid black;
	width: 100%;
}

.hours_data thead th {
	font-weight: bold;
	background-color: #708090; /* Slate Gray */
}

.hours_data tr td,  .hours_data thead th{
	border: 1px solid black;
	padding: 1em;
	font-size: 1.25em;
}

.interactive .bar_chart svg {
  min-height: 300px;
  min-width: 300px;
}

.interactive div.x.label {
	display: block;
	font-size: 1.25em;
	font-weight: bold;
}

.interactive div.y.label {
	display: block;
	font-size: 1.25em;
	font-weight: bold;
	transform: rotate(-90deg);
}

.interactive svg g g.tick text {
	font-family: "Droid Sans";
}

.database-rows {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

tr {
	width: 100%;
}

th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Droid Sans", sans-serif;
}

td {
	width: 150px;
	text-align: center;
}


.t-head {
	width: 100%;
	position: relative;
	left: 3em;
}

.t-head p {
	margin-right: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
}

.t-head tr th {
	cursor: pointer;
	font-size: 1.25em;
}

#accordion {
	font-size: 0.75em;
	text-align: left;
}

.temp-row {
	height: auto;
}

.info-dept {
	font-size: 2.5em;
}

p.info-head {
	display: block;
	font-size: 1.25em;
	color: white;
	text-align: center;
}

p.info {
	display: block;
	font-size: 3em;
	color: white;
	position: relative;
	bottom: 0.5em;
	right: 0.75em;
}

#database {
	position: relative;
	height: auto;
	overflow: visible;
}

.bold {
	font-weight: bold;
}


/********************************* Mobile CSS *********************************/
@media (max-width: 860px) {

	body {
			background-color: white;
	}

	#page {
		width: 90%;
		padding: 0;
		margin: 0 auto;
	}

	header {
		height: 30px;
		position: fixed;
	}

	header #main-page {
		font-size: 1.45em;
		margin-top: 0.25em;
	}

	#headline {
		margin-top: 0.75em;
	}

	#page .text {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#page .text p {
		width: 100%;
		padding: 0;
	}

	#page p {
		padding: 0;
	}

	div#page div.text h2.section {
		margin-left: 0;
		margin-bottom: 0;
	}

	div#page div.text span.author {
		display: block;
		font-size: 1em;
		margin-bottom: 1em;
		margin-left: 0;
	}

	iframe {
		width: 100%;
		height: auto;
	}

	.interactive svg g g.tick text {
		font-size: 0.75em;
	}

	.t-head {
		display: none;
	}

	.ui-accordion-header td {
		display: block;
		text-align: left;
		line-height: 1.75;
		font-size: 1.25em;
		width: 100%;
	}

	.ui-accordion-header td:nth-child(2)::before {
		content: "Job Title: ";
		font-weight: bold;
	}

	.ui-accordion-header td:nth-child(3)::before {
		content: "Min. Pay per Hour: ";
		font-weight: bold;
	}

	.ui-accordion-header td:nth-child(4)::before {
		content: "Max. Pay per Hour: ";
		font-weight: bold;
	}

	.ui-accordion-header td:nth-child(5)::before {
		content: "Min. Hours per Week: ";
		font-weight: bold;
	}

	.ui-accordion-header td:nth-child(6)::before {
		content: "Max. Hours per Week: ";
		font-weight: bold;
	}

	.ui-accordion-header td:nth-child(7)::before {
		content: "Category: ";
		font-weight: bold;
	}

	#accordion p {
		font-size: 1.25em;
	}
/*
	.hours_data thead th {
		font-weight: bold;
		background-color: #708090; Slate Gray
	}

	.hours_data tr td,  .hours_data thead th{
		border: 1px solid black;
		padding: 1em;
		font-size: 1.25em;
	}*/

	.hours_data {
		border: none;
		width: 100%;
		margin: 0 auto;
	}

	.hours_data thead th {
		display: none;
	}

	.hours_data tr td {
		border: none;
		border-right: 1px solid black;
		border-left: 1px solid black;
		display: block;
		text-align: left;
		width: 80%;
		padding: 0.5em;
		line-height: 1.25;
	}

	.hours_data tr td:last-child {
		border-bottom: 1px solid black;
	}

	.hours_data tr td:first-child {
		border-top: 1px solid black;
	}

	.hours_data tr td:nth-child(1)::before {
		content: "Category: ";
		font-weight: bold;
	}

	.hours_data tr td:nth-child(2)::before {
		content: "Min. Avg. Hours per Week: ";
		font-weight: bold;
	}

	.hours_data tr td:nth-child(3)::before {
		content: "Max. Avg. Hours per Week: ";
		font-weight: bold;
	}

}
